/* navbar part */
.common-color1 {
    background: #B68C5A;
}

.consult-btn:hover {
    background: #ddaf76;
}

/* banner part */

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* legal paractice area part */
.common-size {
    width: 71.8px;
    height: 72.34px;
}

/* What Our Client Say */
.carousel-cap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    
}

.lawer-img-size {
    width: 70px;
    height: 70px;
}

/* media query */
@media only screen and (max-width: 767px) {
    .banner-img {
        max-width: 100%;
        height: 310px;
        object-fit: cover;
        object-position: right;
    }

    .search-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* What Our Client Say  */
}